<<<<<<< HEAD
{{#if message}}
  <div class="alert alert-{{#if error}}danger{{else}}success{{/if}}" role="alert">
    {{ message }}
  </div>
=======
{{#if message}}
  <div class="alert alert-{{#if error}}danger{{else}}success{{/if}}" role="alert">
    {{ message }}
  </div>
>>>>>>> d78dc148935da49850a26ddb972f51f76fd23fb1
{{/if}}