{{#if error}}
  <div class="alert alert-danger" role="alert" id = "messageContainer">
    {{{error}}} <!-- Use triple braces to render HTML -->
  </div>
{{/if}}

{{#if message}}
  <div class="alert alert-success" role="alert">
    {{message}}
  </div>
{{/if}}
