<header>
 <nav class="navbar navbar-expand-sm border-bottom">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!-- TO-DO: For 'Home', Add a <a> tag with class="nav-link" and href='/' API that navigates to home page if logged in, or login page if not -->
            <a class="nav-link" href='/home'>Home</a>
        </li>
        <li class="nav-item">
          <!-- TO-DO: For 'Courses', Add a <a> tag with class="nav-link" and href='/courses' API that navigates to courses page if logged in, or login page if not -->
            <a class="nav-link" href='/classes'>Classes</a>
        </li>
        <li class="nav-item">
          <!-- TO-DO: For 'Courses', Add a <a> tag with class="nav-link" and href='/courses' API that navigates to courses page if logged in, or login page if not -->
            <a class="nav-link" href='/shoppingcart'>Shopping Cart</a>
        </li>
        <li class="nav-item">
          <!-- TO-DO: For 'Log out', Add a <a> tag with class="nav-link" and href='/logout' API that navigates to the logout page -->
            <a class="nav-link" href='/logout'>Logout</a>
        </li>
      </ul>
    </div>
 </nav>
</header>
