<body>
    <div class="container-reg">
        <img src="https://www.usnews.com/dims4/USNEWS/53fab75/17177859217/resize/800x540%3E/quality/85/?url=https%3A%2F%2Fmedia.beam.usnews.com%2Fb7%2F029f7721431e45fe47d6a961289c63%2FCUBouder_Campuslife1.JPG" alt="University Campus Image" width="70" height="155">
        <h4>Registration</h4>
        <form action="/register" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <input type="submit" value="Register">
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</body>
</html>